<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/choose.css" />
  <title>Choice</title>
</head>

<body>

  <div class="container">
    <div class="wrapper">
      <div class="banner-image"> </div>
      <h1> Welcome!</h1>
      <p> You are customer<br />
        or Vendor?</p>
    </div>
    <div class="button-wrapper">
      <a class="btnCol" href="/custLogin">
        <button class="btn outline">Customer</button>
      </a>

      <a class="btnCol" href="/vendLogin">
        <button class="btn fill">Vendor</button>
      </a>

    </div>
  </div>
  </div>

  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
  <script src="script.js"></script>
</body>

</html>