<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Customer Main Page</title>
</head>

<body>

    {{>navbar}}
     
    <!--Main Content -->
    <section>
    <div id="mainContent">
      <div id="mainHead">
        <h1 class="centerCont h1cont">Apna Dabba</h1>
        <h2 class="centerCont">Find the best Tiffins near you</h2>
      </div>
    </div>
  </section>

 <!-- -->

  <!-- Tiffin Centers -->
   
     <section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="images/centerImg.png" alt="tiffin Image" />
        </figure>
        <div class="article-body">
          <h2>Food Tiffin Center</h2>
          <p>
            On Monday to Saturday, you will receive regular vegetables, but on Sunday, there will be something special.
            We offer a Combo Tiffin pack that includes vegetables, chapati, daal, and rice. Additionally, on Sundays, we
            provide a sweet treat.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
    
      <div class="article-wrapper">
        <figure>
          <img src="images/dabba4.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Delicious Tiffin Center</h2>
          <p>
            From Monday to Saturday, enjoy our selection of fresh, everyday vegetables. However, on Sundays, we elevate
            your experience with something extraordinary.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>

      <div class="article-wrapper">
        <figure>
          <img src="images/centerImg.png" alt="" />
        </figure>
        <div class="article-body">
          <h2>Ma ki Rasoi</h2>
          <p>
            Explore our Combo Tiffin pack featuring a delightful assortment of vegetables, chapati, daal, and rice. As a
            bonus, Sundays come with an added sweet indulgence.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>



    <article>
      <div class="article-wrapper">
        <figure>
          <img src="images/dabba4.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Ghar ka Khana</h2>
          <p>
            In our daily offerings from Monday to Saturday, savor our selection of fresh, everyday vegetables. However,
            anticipate something extraordinary on Sundays.
            Discover our versatile Combo Tiffin pack, comprising vegetables, chapati, daal, and rice. Additionally,
            Sundays come with a sweet treat for your enjoyment.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>

      <div class="article-wrapper">
        <figure>
          <img src="images/centerImg.png" alt="" />
        </figure>
        <div class="article-body">
          <h2>Ghar ki rasoi</h2>
          <p>
            If you really want the healthiest and most Hygienic food, must-try our tiffins which will give you a taste
            of your home made food.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>


    <article>

      <div class="article-wrapper">
        <figure>
          <img src="images/dabba4.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Tasty Grips</h2>
          <p>
            Explore our Combo Tiffin pack featuring a delightful assortment of vegetables, chapati, daal, and rice. As a
            bonus, Sundays come with an added sweet indulgence.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>


    <article>

      <div class="article-wrapper">
        <figure>
          <img src="images/centerImg.png" alt="" />
        </figure>
        <div class="article-body">
          <h2>Tasty khana center</h2>
          <p>
            On Monday to Saturday, you will receive regular vegetables, but on Sunday, there will be something special.
            We offer a Combo Tiffin pack that includes vegetables, chapati, daal, and rice. Additionally, on Sundays, we
            provide a sweet treat.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>


    <article>

      <div class="article-wrapper">
        <figure>
          <img src="images/dabba4.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Khao or khao center</h2>
          <p>
            If you really want the healthiest and most Hygienic food, must-try our tiffins which will give you a taste
            of your home made food.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>


  </section>

  <!-- TIfiin center ends -->

    <!--Main Content Ends-->

  <!-- footer -->

   {{>footer}}
  

<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>